<footer class="footer-portfolio">
    <div class="footer-rodape">
        <a class="footer-logo link-sem-animacao" href="/">
            <span class="logo-icone"></span>
        </a>
        <div class="footer-social">
            <a class="social-link" href="#" aria-label="Facebook">f</a>
            <a class="social-link" href="#" aria-label="Twitter">t</a>
            <a class="social-link" href="#" aria-label="YouTube">y</a>
        </div>
        <span class="footer-credito">© @DateTime.Now.Year Eros Karsburg.</span>
    </div>
</footer>
