<div class="nav-portfolio">
    <a class="logo-portfolio link-sem-animacao" href="/">
        <span class="logo-icone"></span>
    </a>

    <nav class="links-nav">
        <NavLink class="link-nav" href="/" Match="NavLinkMatch.All">HOME</NavLink>
        <NavLink class="link-nav" href="#projetos">PROJECT</NavLink>
        <NavLink class="link-nav" href="#sobre">ABOUT ME</NavLink>
        <NavLink class="link-nav" href="#contato">CONTACT</NavLink>
    </nav>
</div>
